<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%=((typeof titulo === "undefined" || !titulo) ? "Gamificação TECH" : (titulo + " - Gamificação TECH"))%></title>

    <%- include("cabecalho") %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../Public/CSS/animate.css"/>
    <link type="text/css" rel="stylesheet" href="../Public/css/micromodal.css"/>
    <link type="text/css" rel="stylesheet" href="../Public/stylesheets/indexCss.css"/>
    <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>

</head>
<body>

    <div id="page-wrapper" class="wrapper">
		<%- body %>
    </div>


    <%- include("rodape") %>
    <%- defineContent("scripts") %>
</body>
</html>
